<table class="table table-border">
    <thead>
        <tr>
            <th>Number Of Contribution</th>
            <th>Contribution of Spring Semester</th>
            <th>Contribution of Summer Semester</th>
            <th>Contribution without Comment</th>
            <th>Contribution of IT</th>
            <th>Contribution of Bussiness</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>@ViewBag.Count</td>
        <td>@ViewBag.SemesSpring</td>
        <td>@ViewBag.SemesSummer</td>
        <td>@ViewBag.Comment</td>
        <td>@ViewBag.IT</td>
        <td>@ViewBag.Business</td>
    </tr>
    </tbody>
</table>



